<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<div class="col"><%- include ('../partials/message') %></div>

<main>
    <div style="position: relative; text-align: center; color: rgb(86, 86, 86);">
        <img src="https://images.unsplash.com/photo-1418290368169-1c94e6683532?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" alt="snowy-mountain" width="100%" height="300px" style="object-fit: cover;">
        <div class="centered" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: rgba(255, 255, 255, 0.8); padding-left: 15px; padding-right:15px">
            <p><h1><b>About Us</b></h1></p>
        </div>
    </div>
    <div class="container">
        <h1 class="text-primary" style="padding-top:5%">To create a better shredding experience for skiers in Colorado</h1>
       <p>
        Slope Search aims to be a multipurpose ski information website for skiers in Colorado. Slope Search lets users create accounts and write reviews about their favorite (or least favorite) skiing experiences. If you looking for a new location to check out in Colorado, you can explore all the resorts and determine which resort is right for you!
        </p>
        <p>
        Slope Search has all the relevant details to help you decide which skiing area is best for you. Users can view important details like elevation, average snowfall, presence of terrain parks, and more about all major resorts in Colorado.
       </p>
       <p>
        Thank you for visiting Slope Search, we hope you find that shredding experience you seek!
       </p>
    </div>
</main>

<%- include ('../partials/footer') %>