<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
  <div class="container">
    
    <h1>Login</h1>
    <form action="/login" method="POST">
        <div class="mb-3">
            <label for="name">Username: </label>
            <input type="text" name="username" id="name" required>
        </div>
        <div class="mb-3">
            <label for="password">Password: </label>
            <input type="password" name="password" id="password" required>
        </div>
        <div class="mb-3">
            <input type="submit" value="Login">
    </form>
  </div>
  <div class="col"><%- include ('../partials/message') %></div>

</main>

<%- include ('../partials/footer') %>