<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
  <div class="container">
    
    <h1 class="text-primary"><center>Login</center></h1>
    <form action="/login" method="POST">
        <div class="mb-3">
            <label for="name">Username: </label>
            <input type="text" name="username" id="name" placeholder="Username" required>
        </div>
        <div class="mb-3">
            <label for="password">Password: </label>
            <input type="password" name="password" id="password" placeholder="Password"required>
        </div>
        <div class="mb-3">
            <input type="submit" value="Login">
    </form>
  </div>
  <body>
    <center>
    <p>
      Don't have an account? <a href = "register">Click here</a> to register!
    </p>
  </center>
  </body>
  <div class="col"><%- include ('../partials/message') %></div>

</main>

<%- include ('../partials/footer') %>