<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
  <div class="container">
    <h1>Logged out successfully!</h1>
    <body>
      <p>
        Didn't mean to log out? <a href = "login">Click here</a> to log back in!
      </p>
    </body>
  </div>

</main>

<%- include ('../partials/footer') %>