<%- include ('../partials/header') %> <%- include ('../partials/menu') %>

<main>
  <div style="width: 100%;">
    <div style="float:left; width: 30%">
      <img src="https://images.unsplash.com/photo-1516352267226-f5f3e4c53781?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=966&q=80" alt="skier-shredding" width="100%" height="100%" style="float: left; object-fit: cover;">
    </div>
  <div class="container" style="padding-left: 25%;">
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->
    <h1 class="text-primary">Register</h1>
    <div class="row">
      <form action="/register" method="POST">
        <div class="mb-3 mt-3">
            <label for="first_name" class="form-label">First name:</label>
            <input type="text" class="form-control" id="first_name" placeholder="Enter your First name" name="first_name" required>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
        </div>
        <div class="mb-3 mt-3">
            <label for="last_name" class="form-label">Last name:</label>
            <input type="text" class="form-control" id="last_name" placeholder="Enter your Last name" name="last_name" required>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
        </div>
        <div class="mb-3 mt-3">
            <label for="email" class="form-label">Email:</label>
            <input type="text" class="form-control" id="email" placeholder="Enter your email" name="email" required>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
        </div>
        <div class="mb-3 mt-3">
          <label for="username" class="form-label">Username:</label>
          <input type="text" class="form-control" id="username" placeholder="Enter Username" name="username" required>
          <div class="valid-feedback">Valid.</div>
          <div class="invalid-feedback">Please fill out this field.</div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password:</label>
          <input type='password' class="form-control" id='password' placeholder="Enter your password" name="password" required>
          <div class="valid-feedback">Valid.</div>
          <div class="invalid-feedback">Please fill out this field.</div>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
      </form>
    </div>
    <body>
      <p></p>
      <p>
        Already have an account? <a href = "login">Click here</a> to login!
      </p>
    </body>
  </div>
  </div>
</main>

<%- include ('../partials/footer') %>